body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: 600 !important;
    background-image: url('../images/coffee_bgc.jpg');
    background-attachment: fixed;
    color: white !important;
}

.navbar-bg {
  background-color: #6f4e3742;
  backdrop-filter: saturate(200%) blur(7px);  
}

.navbar-nav {
  margin-left: auto;
  margin-right: 20px;
}

.navbar-brand {
  padding-left: 10px;  
}  

  .table {
    width: 50% !important;
    border: 1px solid black;
  }


.menu {
  padding:2rem 7%;
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    gap:1.5rem;
    padding-left: 20px;
    margin-top: 20px;    
}

.menu .box-container .box{
    padding:2rem;
    text-align: center;
    border: .15rem solid black;
    border-radius: .4rem;
    background-color: #fff;
    color: black;
    max-width: 90%;
}

.menu .box-container .box .price{
    font-size: 1rem;
    padding:.5rem 0;
}

/*
.menu .box-container .box:hover{
  background-color: rgb(236, 236, 236);
  /*opacity: 0.6;*/
/*  transition: 0.3s;
}*/

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;   
}

.form-control{
  width: 30% !important;
  display: inline !important;
  
}

.stock {
  font-size: .9rem;
  color:rgb(0, 74, 172);
}

.cart-btn {
  background-color: rgb(68, 58, 55) !important;
}

.btn-altColor {
  background-color: rgb(1, 107, 75) !important;
}


.main-box {
  max-width: 80%;  
  border: 1px solid black;
  margin-left: 10%;
  border-radius: 5px;
  background-color: rgba(78, 78, 78, 0.918);
  color: white;  
}

.products {
  transition: transform .2s;  
}
.products:hover {  
    transform: scale(1.03);
}

.modal-title {
  color: black;
}

.modal-styles {
  width: 40rem !important;  
}

.modal-stylesa {
  padding-right: 40rem !important;  
}

.table-style {
  width: 36rem !important;
  margin-left: 17px;
}

/*.modal-button {
  background-color: #ff5e00 !important;
  border: none !important;
  width: 40%; }

.modal-button:hover {
  background-color: #ca4a00 !important; }
  */